.grid-container {
  width: 100%;
  display: "flex";
  justify-content: "flex-end";
}
.button-wrap {
  width: 100%;
  margin-left: "auto";
}

.filter {
  margin: 40px;
}

classes.textField {
  margin: 40px;
}
.form-wrapper {
  float: right;
  padding: auto;
}

.statistics-table {
  padding-bottom: 100px;
}

.filter-button{
  float: inherit;
  margin: 60px;
}
